* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --darkGray:#353535;
  --gray:#EAEAEA;
  --mainGray:gray;
  --light:#F6F6F6;
  --pink:#FF79DA;
  --violet :#9356DC;
}

header {
  text-align: center;
}

section {
  padding: 15px;
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Shrikhand";
  font-size: 30px;
  padding: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

h3 {
  font-size: 17px;
  font-weight: 300;
  margin-top: 20px;
}

.restaurants > h2 {
  margin-top: 30px;
}

.restaurants {
  margin-bottom: 0;
}

p,
.button {
  font-size: 16px;
  font-weight: 500;
}

figcaption {
  padding: 10px;
}

figcaption p {
  font-size: 18px;
  font-weight: 700;
}

figcaption h3 {
  margin: 0;
}

ul {
  list-style-type: none;
}

.back-light {
  background-color: var(--light);
}

.dark-grey {
  color: var(--darkGray);
} 

.city-location {
  background-color: var(--gray);
  padding: 12px;
  margin-top: 3px;
}

[class*="icon-"]:before {
  font-family: FontAwesome;
  display: inline-block;
}

.number {
  color: white;
  font-style: normal;
  position: absolute;
  left: 14px;
  padding: 3px 8px;
  background-color: var(--violet);
  border-radius: 100%;
}

.icon-location:before {
  content: "\f3c5";
  padding-right: 15px;
  font-size: large;
}

.icon-return:before {
  content: "\f060";
  position: absolute;
  font-size: larger;
  left: 20px;
  top :15px;
}

.icon-fonct:before {
  color: var(--mainGray);
  position: absolute;
  left:  55px;
  font-size: large;
}

.icon-mobile:before {
  content: "\f3cd";
}

.icon-list:before {
  content: "\f0ca";
}

.icon-store:before {
  content: "\f54e";
}

.icon-rest:before {
  content: "\f2e7";
  margin-right: 6px;
}

.icon-part:before {
  content: "\f4c4";
}

.icon-fonct:hover::before,
.icon-fonct:focus::before {
  color: var(--violet);
}

.icon-fonct:hover,
.icon-fonct:focus {
  background-color: #F5EDFF;
}

.button {
  padding: 15px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display:inline-block;
}

.button:hover {
 cursor: pointer;
}

.button-explore {
  color: white;
  border-radius: 25px;
  margin: 30px 0 40px 0;
  background: linear-gradient(var(--pink) , var(--violet));
}

.button-fonc {
  border-radius: 20px;
  padding: 25px 25px 25px 70px;
  text-align: left; 
  /* text-align: center; */
}

.button-explore:hover,
.button-explore:focus {
  background:  linear-gradient(#E986E0, #B775E1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.list-fonct {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 0 30px 10px;
}

.restaurants-cards {
  display: flex;
  flex-flow: column;
  gap: 15px;
  margin: 15px 0px 60px 0;
}

.card {
  border-radius: 20px;
  filter: drop-shadow(0 3px 15px rgba(0, 0, 0, 0.1));
  background-color: white;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer ul {
  display: flex;
  flex-flow: column;
  gap: 6px;
  background-color: var(--darkGray);
  padding: 20px;
  color: white;
  font-weight: 300;
}

footer h3 {
  font-family: "Shrikhand";
  margin: 0 0 10px 0;
}


